<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll the Dice!</title>
</head>
<body>

<nav th:replace="partials/navbar.html :: bootstrap-nav"></nav>
<header th:replace="partials/header.html :: bootstrap-header"></header>


    <ul>
        <li><a href="/roll-dice/1">1</a></li>
        <li><a href="/roll-dice/2">2</a></li>
        <li><a href="/roll-dice/3">3</a></li>
        <li><a href="/roll-dice/4">4</a></li>
        <li><a href="/roll-dice/5">5</a></li>
        <li><a href="/roll-dice/6">6</a></li>
    </ul>

    <div th:if="${guessedNum}">
        <p>The number was <span th:text="${roll}"></span></p>
        <p th:if="${guessedNum == roll}">You guessed correctly!</p>
        <p th:if="${guessedNum != roll}">You guessed incorrectly!</p>
    </div>

<footer th:replace="partials/footer.html :: bootstrap-footer"></footer>

</body>
</html>